:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f0f0f0;
    --text-color: #333;
    --header-font-size: 2.5em;
    --subheader-font-size: 2em;
    --body-font-size: 1em;
    --spacing: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: var(--spacing);
}

header h1 {
    font-size: var(--header-font-size);
    margin: 0;
}

main {
    padding: var(--spacing);
}

.content {
    background-color: #fff;
    margin-bottom: var(--spacing);
    padding: var(--spacing);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: var(--subheader-font-size);
    color: var(--secondary-color);
}

footer {
   
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: var(--spacing);
}

footer p {
    margin: 0;
    font-size: var(--body-font-size);
}