body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333 !important;
}

.navbar-brand {
    font-weight: bold;
}

footer {
    background-color: #333 !important;
}

.card {
    border: 2px solid #333;
    border-radius: 10px;
}

.card-title {
    color: #007bff;
}
